body {
  background-image: url(./image/background.gif);
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
  margin: 0;
}

.header {
  background-image: url(./image/header.jpg);
  width: 100 vw;
  border: 5px solid rgba(113, 57, 52, 0.133);
  text-align: center;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

div {
  padding: 1rem;
  max-width: 50%;
  border-radius: 10px;
  margin: 1rem auto;
}

.interest,
.works,
.testimonials {
  justify-items: center;
  border: 5px solid rgba(113, 57, 52, 0.133);
  background-color: rgba(147, 51, 51, 0.133);
  max-width: 30%;
}

.gallery {
  justify-items: center;
  border: 5px solid rgba(113, 57, 52, 0.133);
  background-color: rgba(147, 51, 51, 0.133);
  max-width: 80%;
}

img {
  width: 200px;
  height: 200px;
}

a {
  color: black;
  text-decoration: none;
}
